<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js">
    <title>SoundCloud Music Search With Favorites</title>
</head>

<body>
  <div class="container">
    <header>
      <h1>Cloud Connect</h1>
      <div class="logoWrapper" id="poweredBySoundCloudLogo">
        <img src="https://developers.soundcloud.com/assets/powered_by_large_black-64fec369eec44b7ee75119f288c6d010.png" alt="Powered By SoundCloud Logo">
      </div>
    </header>
    {{^user}}
      <section class="login">
        {{^newUser}}
          <h4 class="login-reminder">Log In To Save Your Favorites - </h4>
          <form action="/login" method="post">
            <input type="text" name="username" placeholder="username" id="username">
            <button type="submit">Login</button>
          </form>
        {{/newUser}}
        {{#newUser}}
          <h4 class="newUserMsg">{{user}}: {{msg}}</h4>
          <form class="addUserForm" action="/users" method="post">
            <button class="addUserButton" type="submit" name="adduser" value="{{user}}">Yes</button>
            <button class="addUserButton" type="submit" name="adduser" value="">No</button>
          </form>
        {{/newUser}}
      </section>
    {{/user}}
    {{#user}}
      <section class="user-favorites">
        <h3 class="user-name">{{name}}</h3>
        <form action="/favorites" method="get">
            <button type="submit">View My Favorites</button>
        </form>
        <form action="/favorites" method="post">
            <button class="add-favorite" name="id" value="" type="submit">Add Current Track To My Favorites</button>
        </form>
        {{#oldFav}} <h4 class="oldFavMsg">{{msg}} {{/oldFav}}
      </section>
    {{/user}}
    <section class="player">
      <audio class="music-player" controls="controls" src=""></audio>
      <div class="now-playing"></div>
      <div class="logoWrapper" id="soundCloudLogo">
        <img src="https://developers.soundcloud.com//assets/logo_white-af5006050dd9cba09b0c48be04feac57.png" alt="SoundCloud Logo">
      </div>
    </section>
    <section class="search">
      <form class="search-form">
        <input type="text" placeholder="Search For Your Favorite Artist" class="userSearch">
        <div class="searchButtonWrapper">
          <button class="searchButton">Search</button>
        </div>
      </form>
    </section>
    <section class="results"></section>
  </div>
  <script src="/main.js"></script>
</body>

</html>